<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Crossmarket</title>
</head>
<body>
<div class="container">
    <div class="registr__header">
        <div class="registr__logo">
            <a class="registr__logo-link" href="/">
                <div class="registr__logo-img">
                    <img alt="logo" src="/static/img/logo.svg">
                </div>
                <div class="registr__logo-name">Crossmarket</div>
            </a>
        </div>
        <div class="registr__info">
            <div class="registr__info-text">Don't have an account?</div>
            <div class="registr__info-button">
                <a class="info-link" th:href="@{/interaction/registration/{operationID}(operationID=${operationID})}">Get
                    started</a>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container_forgot_pwd">
            <div class="registr__title">Forgot your password?</div>
            <span class="login_with">Enter your email address below and we'll get you back on track.</span>
            <div class="input_block">
                <form action="" class="form" id="form" method="POST" novalidate>
                    <div class="form__field">
                        <div class="form__field__title">
                            <span>Email address:</span>
                        </div>
                        <input autocomplete="off" id="email" name="name" onkeyup="emailValid()"
                               placeholder="email@example.com" type="email"/>
                        <span class="form__error">invalid email address</span>
                    </div>
                    <button class="send_btn" type="submit">Request reset link</button>
                </form>
            </div>
            <a class="signin_link" th:href="@{/interaction/{operationID}(operationID=${operationID})}">back to sign
                in</a>
        </div>
    </section>
</div>
<script src="/static/js/forgot-password.js"></script>
</body>
</html>
