<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Crossmarket</title>
</head>
<body>
<div style="display:none;">${operationID}</div>
<div class="container">
    <div class="registr__header">
        <div class="registr__logo">
            <a class="registr__logo-link" href="/">
                <div class="registr__logo-img">
                    <img alt="logo" src="/static/img/logo.svg">
                </div>
                <div class="registr__logo-name">Crossmarket</div>
            </a>
        </div>
        <div class="registr__info">
            <div class="registr__info-text">Already have an account?</div>
            <div class="registr__info-button">
                <a class="info-link" th:href="@{/interaction/{operationID}(operationID=${operationID})}">Sign in</a>
            </div>
        </div>
    </div>

    <div class="registr__body">
        <div class="registr__title">Get started in Crossmarket</div>

        <span class="login_with">Login with:</span>
        <div class="login_with_btn_block">
            <button class="facebook_btn"
                    th:onclick="@{window.location.href='/oauth2/login/facebook/{operationID}'(operationID=${operationID})}">
                <img
                        src="/static/img/facebook_button.svg"><span>Log in With Facebook</span></button>
            <button class="google_btn"
                    th:onclick="@{window.location.href='/oauth2/login/google/{operationID}'(operationID=${operationID})}">
                <img
                        src="/static/img/google+_button.svg"><span>Sign in with Google</span>
            </button>            <!--<a href="/interaction/login/eds">-->
            <!--<button  class="ecp_btn"><img src="/static/img/eds_button.svg"><span>Log in With eds</span></button>-->
            <!--</a>-->

            <button class="ecp_btn"><img src="/static/img/eds_button.svg"><span>EDS soon...</span></button>
        </div>

        <div class="line-block">
            <span class="lines-sides">or sign up with</span>
        </div>
        <div class="registr__form">
            <form th:action="@{'/oauth/registration/{operationID}'(operationID=${operationID})}" class="form-container" id="form" method="post" name="form">
<!--                <input name="uuid" type="hidden" value="<%= details.uuid %>"/>-->
<!--                <input name="type" type="hidden" value="email"/>-->
                <div class="form__item">
                    <div class="form__item-label">
                        <label class="require__icon" for="email" title="email">Email address</label>
                    </div>
                    <div class="form__item-wrap">
                        <div class="form__item-control">
                                    <span class="form__item-block">
                                        <!-- required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" oninvalid="setCustomValidity(' ')" -->
                                        <input autocomplete="username email" class="form__item-input field" id="email"
                                               name="login"
                                               onkeyup="emailValid()"
                                               placeholder="email@example.com"
                                               type="text">
                                        <span class="err" id="emailErr">invalid email address</span>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__item-label">
                        <label class="require__icon">Password</label>
                    </div>
                    <div class="form__item-wrap">
                        <div class="form__item-control">
                                        <span class="form__item-block">
                                            <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" required autocomplete="off" -->
                                            <input autocomplete="new-password" class="form__item-input field"
                                                   id="password"
                                                   name="password" onkeyup="passValid()"
                                                   placeholder="******"
                                                   type="password">
                                            <span class="err" id="passErr">not enough symbol</span>
                                        </span>
                            <a class="eye-btn" onclick="show(event)">
                                <img id="pass-eye" src="/static/img/eye-def.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__item-label">

                        <label class="require__icon">Confirm password</label>
                    </div>
                    <div class="form__item-wrap">
                        <div class="form__item-control">
                                        <span class="form__item-block">
                                            <input autocomplete="new-password" class="form__item-input field"
                                                   id="confirm"
                                                   onkeyup="check()" placeholder="******"
                                                   type="password">
                                            <span class="err" id="confirmErr">not enough symbol</span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__item-label">
                        <label class="require__icon">First name</label>
                    </div>
                    <div class="form__item-wrap">
                        <div class="form__item-control">
                                        <span class="form__item-block">
                                            <!-- required minlength="2" autocomplete="off" -->
                                            <input class="form__item-input field" id="firstname" name="firstname"
                                                   onkeyup="firstNameValid()"
                                                   placeholder="First name" type="text">
                                            <span class="err" id="firstnameErr">this field must be filled</span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__item-label">
                        <label>Last name</label>
                    </div>
                    <div class="form__item-wrap">
                        <div class="form__item-control">
                                        <span class="form__item-block">
                                            <input class="form__item-input field" id="lastname" name="lastname"
                                                   onkeyup="lastNameValid()"
                                                   placeholder="Last name" type="text">
                                            <span class="err">this field must be filled</span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="form__item form-btn">
                    <div class="form__item-label"></div>
                    <div class="form__item-wrap form-btn__block">
                        <button class="send_btn" id="send" type="submit">Get started</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="registr__footer">
        <div class="footer__block">
            By clicking «Get started« I agree to Crossmarket <a href="#">Terms of Service</a> and <a href="#">Privacy
            Policy.</a>
        </div>
    </div>
</div>

<script src="/static/js/registration.js"></script>
</body>
</html>
